@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Extra+Condensed');

.login-section {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #47DAD0;
  height: 100vh;
  background: #ffffed;
  padding-top: 4em;
}
#newRoute {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 4em;
}
#calendar input{
  width: 50%;
  display: flex;
  margin-left: 7em;
}
#calendar {
  text-align: center;
}
#newRoute button {
  margin-left: 80px;
  margin-bottom: 30px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form input {
  margin-top: 1.1em;
  font-size: 1.5em;
  color: #282c34;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.school{
  height: 150px;
}

.form{
  width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 4em;
  
}

.SideNav{
  margin-left:0px;
}

.margin-bottom {
  margin-bottom: 1em;
}

.btn{
  background-color:#fbaf41 !important;
}

.form button{
  margin-top: 1.2em;
  font-size: 1.2em;
}